<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <title>XML Transform</title>  
  <link href="/reset.css" rel="stylesheet">  
  <link href="/style.css" rel="stylesheet">  
</head>  
<body>  
  <header>  
    <hgroup>  
      <h1><a href="/">XML Transform</a></h1>  
      <h2>To make your life easier</h2>  
    </hgroup>  
  </header>  
  <div id="main">  
    <%= yield %>  
  </div>  
  <footer>  
    <p><small>An app for XML Transform.</small></p>  
  </footer>  
</body>  
</html>  