<form action="/transform" method="post">
  Codificação XML:<input type="text" name="code"/>
  <br/>

  <textarea rows="10" cols="80" name="myxml"></textarea>
  <br/>

  <input type="submit">  
</form>


