<form action="/transform" method="post">
  Codificação XML:<input type="text" name="code"/>
  <br/>

  <textarea rows="4" cols="50" name="myxml">
  Enter XML text here...</textarea>
  <br/>

  <input type="submit">  
</form>


